* {
    padding: 0;
    margin: 0;
}


/*Alterando o cursor para uma raquete*/
html{
    cursor: url('/imagens/mata_mosca.png') 30 30, auto;
}

body {
    background-image: url('/imagens/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}

.mosquito1 {
    height: 50px;
    width: 50px;
}

.mosquito2 {
    height: 70px;
    width: 70px;
}

.mosquito3 {
    height: 90px;
    width: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB{
    transform: scaleX(-1);
}



/*Conteúdo do HTML*/
.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    left: 0;
    bottom: 0;
    border-top: 1px solid #fff;
    opacity: 0.7;
    background-color: #fff;
}


/*Vidas*/
.vidas {
    float: left;
}

/*Cronômetro*/
.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
    
}


